 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>
      You have successfully done subscription,
    </p>
     <p>You have select <%=  @subscription.subscribtion_plan.plan_type %> plan,</p>
     
     </p> Plan price is <%=  @subscription.amount%></p>
    
    <p>Thanks for Subscribed </p>
  </body>
</html>

