    <div class="text-black zoom hover p-3" style="width: 20rem">
     <%= link_to(image_tag(@post.image, size: "300x200"),welcome_path(@post)) if @post.image.attached?%>
     </br> 
 </div>

       
         
         
           

  
  