
<div class="container " style = "max-width: 850px;" >
  <center><h1>Playlist</h1></center> 
  <% playlists = current_user.playlists %>
  <% playlists.each do |playlist| %>
    <% post = playlist.post %>
    <% if post.present? %>
    <div class="container " style = "max-width: 780px;" >
      <button class="btn btn-outline-secondary button mt-3 ">
        <%= link_to 'Remove',  playlist_path(playlist), :method => :delete %></button>
      <div class="p-1">
        <div class="text-black zoom hover p-3" style="width: 20rem">
           <%= link_to(image_tag(post.image, size: "230x160"),welcome_path(post))%></br> 
           <%= post.name %></div>
         </div>
        </div>
      </div>
    <%else%>
    <%end%>
    <% if playlists.blank? %>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
        <h5 class="mb-1 text-center">No post available </h5>
      </div>
    <% end %>
  <% end %>
</div>
